@model SuperShop.Models.ProductViewModel //é od se tipifica. Esta view create vai usar o modelo ProductViewModel

@{
    ViewData["Title"] = "Create new product";
}

<h1>New Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name = "_Products"/>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create</button> @*com icon*@
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>

                @*<input type="submit" value="Create" class="btn btn-primary" />*@ @*qd clicar no botão faz o POST do create -> action no controller*@
                @*<a asp-action="Index" class="btn btn-success">Back to List</a>*@
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@*//validações por javascript*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} @*//validação*@
    
    
}
